<h1 class="heading">Mahaveer Institute of Science and Technology</h1>
<marquee scrollamount="10" ><p class="sub">* Addmissions are open for 2022 batch (Counselling code= MHVR) *</p></marquee>

<ul class="menu">
  <li class="bar1"><a href="#" class="a">Home</a>
  <ul class="menu">
    <li class="bar" ><a href="#" class="a">About Us</a></li>
    <li class="bar"><a href="#" class="a">Chairman's desk</a></li>
    <li class="bar"><a href="#" class="a">Principal's desk</a></li>
    <li class="bar"><a href="#" class="a">Secretary's desk</a></li>
  </ul>
  </li>
  <li class="bar1"><a href="#" class="a">Depatments</a>
    <ul class="menu">
      <li class="bar"><a href="#" class="a">MECH</a></li>
      <li class="bar"><a href="#" class="a">CSE</a></li>
      <li class="bar"><a href="#" class="a">CIVIL</a></li>
      <li class="bar"><a href="#" class="a">EEE</a></li>
      <li class="bar"><a href="#" class="a">ECE</a></li>
    </ul>
  </li>

  <li class="bar1"><a href="#" class="a">Placements</a>
    <ul class="menu">
      <li class="bar"><a href="#" class="a">Overview</a></li>
      <li class="bar"><a href="#" class="a">Placement Team</a></li>
      <li class="bar"><a href="#" class="a">Task</a></li>
      
    </ul>
  </li>
  <li class="bar1"><a href="#" class="a">Events</a>
    <ul class="menu">
      <li class="bar"><a href="#" class="a">MIST Mahostav</a></li>
      <li class="bar"><a href="#" class="a">MIST Innovation</a></li>
      <li class="bar"><a href="#" class="a">Cultural activities</a></li>
      
    </ul>
  </li>

  <li class="bar1"><a href="#" class="a">Courses</a>
    <ul class="menu">
      <li class="bar"><a href="#" class="a">B.Tech</a></li>
      <li class="bar"><a href="#" class="a">M.Tech</a></li>
      <li class="bar"><a href="#" class="a">Diploma</a></li>
      <li class="bar"><a href="#" class="a">Degree</a></li>
      <li class="bar"><a href="#" class="a">P.H.D</a></li>
      
    </ul>
  </li>
  <li class="bar1"><a href="#" class="a">Hostel</a>
    <ul class="menu">
      <li class="bar"><a href="#" class="a">Facilities</a></li>
      <li class="bar"><a href="#" class="a">Food menu</a></li>
      <li class="bar"><a href="#" class="a">cost</a></li>
    </ul>
  </li>
</ul>